:root {
  --article-bg-color: rgb(255, 255, 255);
  --article-text-color: rgb(0, 0, 0);
	--article-link-color: #0066cc;
	--visited-link-color: #551a8b;
  --header-bg-color: rgba(0, 0, 0, 0.15);
  --subcontents-bg-color: rgb(0, 0, 0, 0.15);
  --box-bg-color: rgb(235, 235, 235);
}

article#content.darkmode {
  --article-bg-color: rgb(10, 10, 10);
  --article-text-color: rgb(200, 200, 200);
	--article-link-color: #2bb9ff;
	--visited-link-color: #8c7dff;
  --header-bg-color: rgba(10, 10, 10, 0.15);
  --subcontents-bg-color: rgb(10, 10, 10, 0.15);
  --box-bg-color: rgb(200, 200, 200, 0.5);
}

a:link {
	color: var(--article-link-color);
	text-decoration: none;
}

a:visited {
	color: var(--visited-link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

article > details {
	float: left;
	width: 100%;
}

/* this makes every layer of subsections have more indentation */
details > div {
	margin-left: 1em;
}

/* this makes section titles larger  */
details > summary {
	font-size: 111%;
}

article#content {
	background-color: var(--article-bg-color);
	color: var(--article-text-color);
	height: 100%;
}

.fill {
	display: flex;
	flex-grow: 1;
}

/* this can be used as a simple divider */
.divider {
	height: 0px;
	display: flex;
	flex-grow: 1;
	border-top: 1px solid black;
}

#table-of-contents {
	border: 1px solid grey;
	display: table;
	margin: 0 0.5em 0;
	border-radius: 5px;
	float: left;
}

.toc-link {
	--article-link-color: --article-text-color;
	--visited-link-color: --article-text-color;
}

.biomecontents {
	width: 95%;
	background-color: var(--box-bg-color);
	border: 1px solid black;
	border-radius: 5px;
	padding-top: 2.5px;
	padding-bottom: 7.5px;
}

.biomecontents > .subcontents, .subcontents > .subcontents {
	margin-left: 3.5px;
	margin-right: 3.5px;
}

.biomecontents > span, .subcontents > span {
	margin-left: 7.5px;
	margin-right: 10px;
}

.subcontents {
	background-color: var(--subcontents-bg-color);
	border: 1px solid darkslategrey;
	border-radius: 5px;
	padding-top: 2.5px;
	padding-bottom: 7.5px;
	margin-top: 7.5px;
}

.statblock, .inlinestatblock {
	width: 21rem;
	right: 0px;
	position: relative;
	margin: .5em 0 .5em 1em;
	background-color: var(--box-bg-color);
	border: 1px solid black;
	border-radius: 5px;
}

.statblock {
	float: right;
}

.inlinestatblock {
	display: inline-block;
}

.statblock > img, .inlinestatblock > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.statblock > .stat, .inlinestatblock > .stat {
  margin-left: 0.5em;
}

.stat > .statvalues {
	display: inline-block;
	vertical-align: middle;
}

.statvalues > .linkdiv {
	vertical-align: middle;
}

.quoteheader {
	display: block;
	margin: 1em;
	opacity: 75%;
}

.recipetable {
	position: relative;
	margin: .5em 0 .5em 1em;
	background-color: var(--box-bg-color);
	border: 1px solid black;
	border-radius: 5px;
}
.recipetable > tbody > tr > th {
  background-color: var(--subcontents-bg-color);
}

.recipetable > tbody > tr > td {
  padding: 10px;
  border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.recipetable > tbody > tr > td > .or {
  text-align: center;
  display: inline-block;
  width: 100%;
}

.header {
	font-size: 105.5%;
	display: flex;
	margin-top: 7.5px;
	margin-bottom: 3.5px;
	--padding-color: var(--header-bg-color);
}

.header > .text {
	margin-left: 2.5px;
	margin-right: 2.5px;
	/*background-color: var(--header-bg-color);
	padding-left: 7.5px;*/
}

.header > .padding {
	/*width: calc(100% - 7.5px);*/
	display: table-cell;
	background-color: var(--padding-color);
	/*padding-left: 7.5px;*/
}

.miniheader > .header {
	--padding-color: transparent;
}

.linkdiv {
	display:inline-block;
}

.linkimage {
	display:inline-block;
	max-height: 3em;
	vertical-align: middle;
}

.linktext {
	display:inline-block;
	/*vertical-align: middle;*/
}

.linknote {
	font-size:0.9rem;
}

.inlineblock {
	display: inline-block;
}

.inlinefill {
	display: inline-flex;
	flex-grow: 1;
}

.inlinefb {
	display: inline-flexbox;
	flex-grow: 1;
}