:root {
	--article-bg-color: rgb(255, 255, 255);
	--article-text-color: rgb(0, 0, 0);
	--article-link-color-base: rgb(167, 0, 204);
	--visited-link-color-base: rgb(139, 26, 128);
	--redlink-color: rgb(238, 0, 0);
	--header-bg-color: rgba(0, 0, 0, 0.15);
	--subcontents-bg-color: rgb(0, 0, 0, 0.15);
	--subcontents-border-color: darkslategrey;
	--box-bg-color: rgb(235, 235, 235);
	--box-border-color:grey;
	--link-image-max-height: 2rem;
	--article-link-color: var(--article-link-color-base);
	--visited-link-color: var(--visited-link-color-base);
	--expert-color:orange;
	--master-color:maroon;
	--toolbar-scale: 100%;
	--tool-power-filter: none;
	--themes-offset: 0em;
	--wiki-logo: url(Images/themes/light-logo-small.png);
	--wiki-logo-mobile: url(Images/themes/light-logo-small.png);
	--stat-image-padding: 5%
}

.theme-dark {
	--article-bg-color: rgb(10, 9, 10);
	--article-text-color: rgb(218, 218, 218);
	--article-link-color-base: #2bb9ff;
	--visited-link-color-base: rgb(140, 125, 255);
	--redlink-color: rgb(255, 62, 62);
	--header-bg-color: rgba(10, 10, 10, 0.15);
	--subcontents-bg-color: rgb(10, 10, 10, 0.15);
	--box-bg-color: rgba(102, 102, 102, 0.35);
	--tool-power-filter: invert(100%);
}

.theme-ashen {
	--article-bg-color: rgb(39, 28, 27);
	--article-text-color: rgb(184, 96, 29);
	--article-link-color-base: #cbf31a;
	--visited-link-color-base: rgb(194, 158, 0);
	--redlink-color: rgb(249, 31, 93);
	--header-bg-color: rgba(10, 10, 10, 0.15);
	--subcontents-bg-color: rgb(10, 10, 10, 0.15);
	--box-bg-color: rgba(159, 111, 81, 0.35);
	--box-border-color: rgb(184, 96, 29);
	--tool-power-filter: invert(50%) sepia(100%) saturate(200%);
	--master-color: #f30698;
	--wiki-logo: url(Images/themes/ashenlogo.png);
	--wiki-logo-mobile: url(Images/themes/ashenlogo.png);
  }

.theme-brine {
	--article-bg-color: rgb(20, 38, 39);
	--article-text-color: rgb(45, 171, 74);
	--article-link-color-base: #421af3;
	--visited-link-color-base: rgb(30, 116, 107);
	--redlink-color: rgb(249, 31, 140);
	--header-bg-color: rgba(10, 10, 10, 0.15);
	--subcontents-bg-color: rgb(10, 10, 10, 0.15);
	--box-bg-color: rgba(62, 76, 182, 0.35);
	--box-border-color: rgb(30, 116, 107);
	--tool-power-filter: invert(60%) sepia(100%) saturate(200%) hue-rotate(90deg);
	--wiki-logo: url(Images/themes/brinelogo.png);
	--wiki-logo-mobile: url(Images/themes/brinelogo.png);
}

.theme-dawn {
	--article-bg-color: rgb(238, 231, 183);
	--article-text-color: rgb(134, 5, 53);
	--article-link-color-base: #0649bc;
	--visited-link-color-base: rgb(0, 33, 151);
	--redlink-color: rgb(255, 62, 62);
	--header-bg-color: rgba(10, 10, 10, 0.15);
	--subcontents-bg-color: rgb(10, 10, 10, 0.15);
	--box-bg-color: rgba(135, 64, 64, 0.35);
	--tool-power-filter: invert(100%);
	--wiki-logo: url(Images/themes/dawnlogo.png);
	--wiki-logo-mobile: url(Images/themes/dawnlogo.png);
}

.theme-dusk {
	--article-bg-color: rgb(18, 3, 20);
	--article-text-color: rgb(224, 150, 245);
	--article-link-color-base: #dfe4af;
	--visited-link-color-base: rgb(195, 179, 130);
	--redlink-color: rgb(255, 62, 62);
	--header-bg-color: rgba(10, 10, 10, 0.15);
	--subcontents-bg-color: rgb(10, 10, 10, 0.15);
	--box-bg-color: rgba(130, 64, 135, 0.35);
	--tool-power-filter: invert(100%);
	--wiki-logo: url(Images/themes/dusklogo.png);
	--wiki-logo-mobile: url(Images/themes/dusklogo.png);
}

.theme-riven {
	--article-bg-color: rgb(26, 37, 57);
	--article-text-color: rgb(41, 185, 204);
	--article-link-color-base: #0ef2a6;
	--visited-link-color-base: rgb(0, 129, 101);
	--redlink-color: rgb(255, 62, 62);
	--header-bg-color: rgba(10, 10, 10, 0.15);
	--subcontents-bg-color: rgb(10, 10, 10, 0.15);
	--box-bg-color: rgba(152, 188, 255, 0.119);
	--box-border-color: rgb(0, 129, 101);
	--tool-power-filter: invert(55%) sepia(100%) saturate(200%) hue-rotate(135deg);
	--wiki-logo: url(Images/themes/rivenlogo.png);
	--wiki-logo-mobile: url(Images/themes/rivenlogo.png);
}

.theme-nightsky {
	--article-bg-color: #140a44;
	--article-text-color: #8E8AC4;
	--article-link-color-base: #43E7E0;
	--visited-link-color-base: #B870F6;
	--redlink-color: #EC008C;
	--header-bg-color: #7F96F026;
	--subcontents-bg-color: #7F96F026;
	--subcontents-border-color: #8E8AC466;
	--box-bg-color: #7F96F059;
	--box-border-color: #8E8AC4;
	--expert-color: #FFF17F;
	--master-color: #E71D00;
	--tool-power-filter: invert(50%) sepia(100%) saturate(200%) hue-rotate(180deg);
	--wiki-logo: url(Images/themes/nightskylogo.png);
	--wiki-logo-mobile: url(Images/themes/nightskylogo.png);
}

.themeOption-terminal {
  image-rendering: smooth;
}
.theme-terminal {
	--article-bg-color: rgb(0, 0, 0);
	--article-text-color: rgb(0, 255, 0);
	--article-link-color-base: rgb(0, 0, 255);
	--visited-link-color-base: rgb(255, 0, 255);
	--redlink-color: rgb(255, 0, 0);
	--header-bg-color: rgba(255, 255, 255, 0.15);
	--subcontents-bg-color: rgb(255, 255, 255, 0.15);
	--box-bg-color: rgb(255, 255, 255, 0.35);
	--tool-power-filter: invert(60%) sepia(9001%) saturate(999%) hue-rotate(75deg);
	--wiki-logo: url(Images/themes/terminal-logo.png);
	--wiki-logo-mobile: url(Images/themes/terminal-logo.png);
}

html.background {
	display: table;
	margin: auto;
}
html.nobackground {
	background-color: var(--article-bg-color);
	color: var(--article-text-color);
}
body.background {
	background-color: var(--article-bg-color);
	color: var(--article-text-color);
	width: 90vw;/* change to 95 with toolbox release */
	display: grid;
}
body.nobackground {
	background-color: var(--article-bg-color);
	color: var(--article-text-color);
}
.background > article {
	grid-column: 2;
	grid-row: 1;
}

.redlink {
	--article-link-color: var(--redlink-color);
	--visited-link-color: var(--redlink-color);
}

a:link {
	color: var(--article-link-color);
	text-decoration: none;
}

h1 {
	margin-top: 2.5rem;
	margin-bottom: 0.2em;
}

a:visited {
	color: var(--visited-link-color);
	text-decoration: none;
}

a:link:hover {
	text-decoration: underline;
}

a.selflink {
	font-weight: bold;
}

/* disable interpolation */
img {
  	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated;                 /* Universal support since 2021   */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#wikilogo {
	display: inline-block;
	height: 2.5em;
	width: 2.5em;
	position: fixed;
	left: calc(-100vw + 100%);
	top: 0rem;
	content: var(--wiki-logo);
	margin-left: calc(100vw - 100%);
}

article > details {
	float: left;
	width: 100%;
}

details {
	margin-left: 0.5em;
}

/* this makes every layer of subsections have more indentation */
details > div, details > span, details > p, details > h1, details > h2, details > h3, details > h4, details > details {
	margin-left: 1em;
}

/* this makes section titles larger  */
details > summary {
	font-size: 111%;
	clear: left;
	margin-bottom: 0.75em;
	cursor: pointer;
}

.fill {
	display: flex;
	flex-grow: 1;
}

/* this can be used as a simple divider */
.divider {
	height: 0px;
	display: flex;
	flex-grow: 1;
	border-bottom: 1px solid var(--article-text-color);
	margin-bottom: 0em;
	padding-top: 0em;
	margin-right: 3px;
}

#table-of-contents {
	border: 1px solid var(--box-border-color);
	/*display: table;*/
	margin: 0 0.5em 0;
	border-radius: 5px;
	float: left;
}

.pagebanner {
	max-width: 100%;
	margin: auto;
	display: block;
	padding-top: 0.5em;
}

#table-of-contents-details {
	border: 1px solid var(--box-border-color);
	margin: 0px;
	padding: 0.2em;
}
#table-of-contents-details > summary {
	margin-bottom: 0em;
}
#table-of-contents-details[open] > summary {
	margin-bottom: 0.5em;
}
#table-of-contents-details > summary > .divider {
	display: none;
}
#table-of-contents-details[open] > summary > .divider {
	display: flex;
}

.toc-link {
	--article-link-color: --article-text-color;
	--visited-link-color: --article-text-color;
}

.biomecontents, a-biomecontents {
	display: block;
	clear: both;
	width: 95%;
	background-color: var(--box-bg-color);
	border: 1px solid var(--box-border-color);
	border-radius: 5px;
	padding-top: 2.5px;
	padding-bottom: 7.5px;
	--link-image-max-height: 7rem;
}

.biomecontents > .subcontents, a-biomecontents > .subcontents, .subcontents > .subcontents {
	margin-left: 3.5px;
	margin-right: 3.5px;
}

.biomecontents > span, a-biomecontents > span, .subcontents > span {
	margin-left: 7.5px;
	margin-right: 10px;
}

.subcontents {
	background-color: var(--subcontents-bg-color);
	border: 1px solid var(--box-border-color);
	border-radius: 5px;
	padding-top: 2.5px;
	padding-bottom: 7.5px;
	margin-top: 7.5px;
	flex-grow: 1;
}

.flexcontents {
	display: flex;
	flex-wrap: wrap;
}

.statblock, .inlinestatblock, a-statblock {
	width: 21rem;
	right: 0px;
	position: relative;
	margin: .5em 0 .5em 1em;
	background-color: var(--box-bg-color);
	border: 1px solid var(--box-border-color);
	border-radius: 5px;
	--link-image-max-height: 3rem;
	--tabvis-0:none;
	--tabvis-1:none;
	--tabvis-2:none;
}
a-stat > .statimagecontainer {
	width: fit-content;
	--stat-image-padding: 0;
}
.statimagecontainer {
	margin: auto;
	width: fit-content;
}
.statimagecontainer:not(:has(.statimagecontainer)) {
	align-items: center;
	display: flex;
}
.statimagecontainer > img {
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--stat-image-padding);
	padding-right: var(--stat-image-padding);
}
.statimagedivider {
	height: 0px;
	display: flex;
	flex-grow: 1;
	border-bottom: 1px solid var(--article-text-color);
	margin-bottom: 0em;
	padding-top: 0em;
	width: calc(100% + 1rem);
	margin: 0.2em auto 0.2em auto;
	left: -0.5rem;
	position: relative;
}

.internalname {
	margin-top: 0.2em;
	padding-top: 0.05em;
	padding-left: 0.5em;
	background-color: var(--header-bg-color);
	font-size: 75%;
	font-weight: bold;
	border-top: 1px solid #0008;
}

.expert {
	color:var(--expert-color);
	--article-link-color:var(--expert-color);
	--visited-link-color:var(--expert-color);
}
.master {
	color:var(--master-color);
	--article-link-color:var(--master-color);
	--visited-link-color:var(--master-color);
}

.rexpert {
	color:var(--expert-color);
	--article-link-color:var(--expert-color);
	--visited-link-color:var(--expert-color);
	font-weight: bold;
	cursor: alias;
}
.rmaster {
	color:var(--master-color);
	--article-link-color:var(--master-color);
	--visited-link-color:var(--master-color);
	font-weight: bold;
	cursor: alias;
}

.statblock, a-statblock {
	float: right;
	clear: right;
}
.ontab0 {
	--tabvis-0:block;
}
.ontab1 {
	--tabvis-1:block;
}
.ontab2 {
	--tabvis-2:block;
}
.onlytab0 {
	display: var(--tabvis-0);
}
.onlytab1 {
	display: var(--tabvis-1);
}
.onlytab2 {
	display: var(--tabvis-2);
}

.inlinestatblock, a-statblock[inline] {
	display: inline-block;
	float: none;
	width: fit-content;
}

.statblock > img, .inlinestatblock > img, a-statblock > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.statblock > .stat, .inlinestatblock > .stat, a-statblock > .stat {
	margin-left: 0.5em;
	margin-right: 0.5em;
}

.stat > .statvalues {
	display: inline-block;
	vertical-align: middle;
}
.stat.petname {
	text-align: center;
}

.statvalues > .link {
	vertical-align: middle;
}

.toolstats {
	display: flex;
	width: 50%;
	margin: auto;
}
.toolstat {
	margin: auto;
}
.toolstat > img {
	filter: var(--tool-power-filter)
}

.quoteheader {
	display: block;
	margin: 1em;
	opacity: 75%;
}

.recipetable {
	position: relative;
	margin: .5em 0 .5em 1em;
	background-color: var(--box-bg-color);
	border: 1px solid var(--box-border-color);
	border-radius: 5px;
	--link-image-max-height: 3rem;
}
.recipetable > thead > tr > th {
	padding: 2px;
	background-color: var(--subcontents-bg-color);
	border-bottom: 1px solid var(--box-border-color);
}

.recipetable > thead > tr > th.middle {
	border-left: 1px solid var(--box-border-color);
	border-right: 1px solid var(--box-border-color);
}

.recipetable > tbody > tr > td {
  	padding: 10px;
	border-bottom: 1px solid var(--box-border-color);
}
div.or {
	font-weight: bold;
	font-style: italic;
}
.recipetable > tbody > tr > td > span {
	display: inline-block;
	vertical-align: middle;
}
.recipetable > tbody > tr > td > span > * {
	display: inline-block;
	vertical-align: middle;
}

.recipetable > tbody > tr > td.middle {
	border-left: 1px solid var(--box-border-color);
	border-right: 1px solid var(--box-border-color);
}

.sortablelist {
	position: relative;
	margin: .5em 0 .5em 1em;
	background-color: var(--box-bg-color);
	border: 1px solid var(--box-border-color);
	border-radius: 5px;
	--link-image-max-height: 3rem;
}
.sortablelist > thead > tr > th {
	padding: 2px;
	background-color: var(--subcontents-bg-color);
	border-bottom: 1px solid var(--box-border-color);
}

.sortablelist > thead > tr > th.notleft {
	border-left: 1px solid var(--box-border-color);
}

.sortablelist > tbody > tr > td {
	padding: 10px;
	border-bottom: 1px solid var(--box-border-color);
}

.sortablelist > tbody > tr > td.notleft {
	border-left: 1px solid var(--box-border-color);
}

.stat-table-indicator {
	text-align: center;
	cursor: pointer;
	display: block;
	text-decoration: none;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

.sortindex {
	display:none;
}

.header {
	font-size: 105.5%;
	display: flex;
	margin-top: 7.5px;
	margin-bottom: 3.5px;
	--padding-color: var(--header-bg-color);
}

.header > .text {
	margin-left: 2.5px;
	margin-right: 2.5px;
	/*background-color: var(--header-bg-color);
	padding-left: 7.5px;*/
}

.header > .padding {
	/*width: calc(100% - 7.5px);*/
	display: table-cell;
	background-color: var(--padding-color);
	/*padding-left: 7.5px;*/
}

.miniheader > .header {
	--padding-color: transparent;
}
.linknote {
	color: var(--article-text-color);
	font-size:0.9rem;
	display: block;
}

.link > img {
	vertical-align: middle;
	max-height: var(--link-image-max-height);
}

.linkandnote {
	display: inline-block;
	vertical-align: middle;
}

.inlineblock {
	display: inline-block;
}

.inlinefill {
	display: inline-flex;
	flex-grow: 1;
}

.inlinefb {
	display: inline-flexbox;
	flex-grow: 1;
}

.picturebox {
	float: right;
	clear: right;
	width: 15em;
	margin: 2px;
	padding: 4px;
	border: 1px solid var(--box-border-color);
	border-radius: 5px;
	background-color: var(--box-bg-color);
}

#toolbar {
	position: fixed;
	right: 0.6rem;
	top: 0.55rem;
	z-index: 1;
	width: fit-content;
	border-radius: 5px;
	border-style: groove;
	background: var(--article-bg-color);
	font-size: var(--toolbar-scale);
}

#toolbar-container {
	display: flex;
}

#searchbar {
	background: transparent;
	border: none;
	color:var(--article-text-color);
	font-size: 100%;
}
.searchSymbol {
	height: 1.25em;
	float: right;
	fill:var(--article-text-color);
}
#searchlinks {
	clear:both;
	overflow-y: auto;
	max-height: calc(100vh - 1.25em - 0.55rem - 10px);
	margin-top: 0.1rem;
}
.selectedSearch {
	background-color: var(--box-bg-color);
}
#lighttoggle {
	height: 1.25em;
	float: left;
	cursor: pointer;
}
.pulse {
	animation-name: pulse;
	animation-direction: alternate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	image-rendering: smooth;
}
@keyframes pulse {
	0%   { transform: scale(1); }
	100% { transform: scale(1.25); }
}
.themeOption {
	height: 1.25em;
	float: left;
	cursor: pointer;
}
#themeContainer:empty {
	display: none;
}
#themeContainer {
	position: absolute;
	left: calc(1.5em + var(--themes-offset));
	top: calc(1.5em - 3px);
	display: grid;
	border-radius: 5px;
	border-style: groove;
	padding-top: 4px;
	border-top: none;
}

#bgtoggle {
	height: 1.25em;
	float: left;
	cursor: pointer;
	fill: transparent;
	stroke: var(--article-text-color);
	stroke-width: 0.1rem;
}
.alttabs {
	float:right
}
.hiddenTab {
	display:none;
}
.tabnames {
	display:flex;
}
.tabname {
	margin:auto;
	cursor: pointer;
}
.L-connector{
	display: inline-block;
	width: 0.5rem;
	height: 1.2rem;
	border-left: solid var(--article-text-color) 3px;
	border-bottom: solid var(--article-text-color) 1.5px;
	transform: translate(40%,-50%) scale(1,2);
	z-index: -1;
	position: relative;
}
.l-connector{
	display: inline-block;
	width: 0.5rem;
	height: 1rem;
	border-left: solid var(--article-text-color) 3px;
	border-bottom: solid var(--article-text-color) 3px;
	transform: translate(40%);
	z-index: -1;
	position: relative;
}
.categories{
	display: block;
  	clear: both;
	border-radius: 5px;
	border-style: groove;
	background: var(--box-bg-color);
}
.sortedby ::after{
 	content: '▾';
}
.revsortedby ::after{
  	content: '▴';
}

snippet, a-snippet {
	clear: both;
	width: fit-content;
	margin: 2px;
	padding: 4px;
	border: 1px solid var(--box-border-color);
	border-radius: 5px;
	background-color: var(--box-bg-color);
	display: block;
}
snippet[open], a-snippet[open]{
	width: 95%;
}
snippet[hidden], a-snippet[hidden] {
	margin: revert;
	padding: revert;
	background-color: revert;
	border: revert;
	width: revert;
}
.snippetContent {
	display: none;
}
snippet[open] > .snippetContent, a-snippet[open] > .snippetContent {
	display: flow-root;
}
a-drop {
	display: block;
	margin-top: 3px;
	margin-bottom: 3px;
}
a-drop > a-drop::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 100px;
	background: var(--article-text-color);  vertical-align: middle;
	margin-right: 5px;
}
.background > #toolbox {
	grid-column: 1;
	grid-row: 1;
	width: 12rem;
	display: grid;
	grid-auto-flow: column;
	grid-template-rows: 0.3fr 0.3fr 0.3fr;
	margin-top: 20rem;
}
.nobackground > #toolbox {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto auto auto auto auto;
}

.coins ::after {
	content: '';
	display: inline-block;
	width: 12px;
	height: 16px;
	margin: -3px 2px auto;
	vertical-align: middle;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADUAAAAQCAMAAACBWcfHAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABaUExURQAAAJN9IW+Nn1xnakwsDMu1R1xCEjI3SiE1P1QdCo+cnWBtj4iksOF1S/Hy6npbGUVMUKGsrbZXG/z4tpmsuFJXbe3Zeey3oOzw89XF45VDFq+h03o3Ea7CxDpXvFYAAAABdFJOUwBA5thmAAAAwUlEQVQoz43SSxKDIBREUXyCQVBRUBQ1+99m4MVQJf5yq3p4Zk2I74WRX4WPPHenuO/c9L1zTbO5omDMmOh2qvT9oTjvummKLqpgAKoKAB2ljGVZdDtVlnU9jujuFOdC5Hl0O1X5miYsKmOsTVUw86w1uifVtsEdFYCU7zeAc6iyTClrGaM0VVqv6zzX9aPK89YnxFFJOQxhyxKVUkdF0KEht4qg28xOfR0AmlBwm0lU8o1rdf2ow3spjeb6vffqtA8gqhYRvoCL8AAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-size: auto 16px;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}

.coins .platinum::after {
	width: 14px;
	background-position: 0 50%;
}

.coins .gold::after {
  	background-position: -15px 50%;
}


.coins .silver::after {
	background-position: -28px 50%;
}

.coins .copper::after {
  background-position: -41px 50%;
}

/* mobile version, make sure to set back to max-aspect-ratio: 1/1*/
@media (max-aspect-ratio: 1/1){
	.statblock, a-statblock {
		float: none;
		display: table-header-group;
	}
	#table-of-contents {
		float:none;
		display: table-footer-group;
	}
	#toc-and-stats {
		width: 100%;
		display: table;
		font-size: 115%;
	}
	.statblock > img, a-statblock > img {
		width: 60%;
	}
	#toolbar {
		width: calc(100% - 1.15em);
		--toolbar-scale: 150%;
	}
	#toolbar-container {
		--themes-offset: 1.25em;
	}
	#searchbar {
		width: calc(100% - 1.25em - 1.25em - 1.25em - 1.25em);
	}
	#wikilogo {
		display: inline-block;
		height: 1.25em;
		width: 1.25em;
		position: initial;
		left: 0;
		top: 0;
		content: var(--wiki-logo);
		margin-left: 0px;
	}
	h1 {
		margin-top: 3.375rem;
	}
}
